In [10]:
import requests
import pandas as pd

In [60]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/Moedas?$top=100&$format=json&$select=simbolo,nomeFormatado"

response = requests.get(url)

data = response.json()

moedas = [m["simbolo"] for m in data["value"]]
moedas

#df_moedas = pd.DataFrame(data["value"])
#df_moedas

['AUD', 'CAD', 'CHF', 'DKK', 'EUR', 'GBP', 'JPY', 'NOK', 'SEK', 'USD']

In [61]:
all_data = []
#data_final = fazer dinamico?
#data_inicial = fazer dinamico?

for moeda in moedas:
    url = ("https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/"
        "CotacaoMoedaPeriodo(moeda=@moeda,dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?"
        "@moeda='" + moeda + "'&@dataInicial='08-17-2025'&@dataFinalCotacao='08-18-2025'&$top=100&$"
        "filter=tipoBoletim%20eq%20'Fechamento'&$format=json&$select=cotacaoCompra,dataHoraCotacao"
        )

    response = requests.get(url)
    data = response.json()

    # pega a lista dentro de "value"
    values = data.get("value", [])

    # adiciona o campo "moeda" em cada item
    for item in values:
        item["moeda"] = moeda

    all_data.extend(values)

df_cotacao_moedas = pd.DataFrame(all_data)
df_cotacao_moedas

   cotacaoCompra          dataHoraCotacao moeda
0        3.51480  2025-08-18 13:11:11.455   AUD
1        3.91820  2025-08-18 13:11:11.455   CAD
2        6.70910  2025-08-18 13:11:11.455   CHF
3        0.84630  2025-08-18 13:11:11.455   DKK
4        6.31650  2025-08-18 13:11:11.455   EUR
5        7.31770  2025-08-18 13:11:11.455   GBP
6        0.03664  2025-08-18 13:11:11.455   JPY
7        0.53040  2025-08-18 13:11:11.455   NOK
8        0.56600  2025-08-18 13:11:11.455   SEK
9        5.41490  2025-08-18 13:11:11.455   USD